{% extends "base.html.twig" %}
{% block title %}
	{{ parent() }}
	Liste des utilisateurs
{% endblock %}
{% block content %}
	<div class="container-fluid">
		<div class="row justify-content-center">
			<div class="col-12 col-md-10">
				<h1 class="text-center text-dark">Liste des utilisateurs</h1>
				{% for user in users %}
					{{user.id}}
					{{user.nom}}<br/>
                    {{user.date_de_naissance}}
                    {{user.rue}}
                    {{user.ville}}
                    {{user.code_postal}}
                    {{user.tel}}
                    {{user.email}}
					{% endfor%}
				</div>
			</div>
		</div>
	{% endblock %}
